/* header banner-tabella e logo */
.banner{
    background-color: #6da5fa;
}
#logo-banner{
    height: 30px;
}
/* section titolo e sottotitolo */
.span-blu{
    color: #00e1ff;
}
#autore{
    color: gray;
    font-size: 15px;
}
#data{
    font-size: 10px;
}
/* section foto e descrizione */
.descrizione-foto{
    font-size: 10px;
}
/* section articolo */
.evidenziati{
    background-color: yellow;
}
/* sezione tabella */
.colore-tabella{
    background-color: #bdd4f7;
}
/* footer */
#footer-pubblicità{
    color: gray;
    font-size: 10px;
}
.pubblicità{
    color: black;
}
.contenitore{
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.top{
    position: absolute;
    top: 0px;
    left: 25px;
}